* {
    box-sizing: border-box;
}


/* header  */

.app-header {
    background-color: #b64646;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*mail*/

.email-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.folder:hover {
    cursor: pointer;
    background-color: burlywood;
}


/* keep */


/* helpers */

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
    gap: 15px;
}

.ul-none {
    list-style-type: none;
}